/* Основные стили проекта. 
Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  gap: var(--body-gap);
  background-color: var(--theme_background-color);
  color: var(--theme_color);

  background-image: var(--theme_background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. 
  На его основе работает скрипт. */
}

.accents-block {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--theme_accents-color);
  color: var(--theme_accents-text-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  justify-self: end;
  align-self: start;
  border-inline-end: 1px solid var(--theme_decoration-items-color);
  border-block-start: 1px solid var(--theme_decoration-items-color);
  inset-inline-end: var(--margin);
  inset-block-start: var(--margin);
}

.decorated-zone::after {
  justify-self: start;
  align-self: end;
  border-inline-start: 1px solid var(--theme_decoration-items-color);
  border-block-end: 1px solid var(--theme_decoration-items-color);
  inset-inline-start: var(--margin);
  inset-block-end: var(--margin);
}

.decoration-text {
  block-size: fit-content;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  color: var(--theme_intro-outro-color);
}

@media (width >= 768px) {
  .decoration-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: clamp(6.1875rem, 0.4631rem + 11.9258vw, 8.095625rem);
  }
}

.link-in-text {
  text-decoration: none;
  cursor: pointer; 
}

.link-in-text:hover {
  outline: none;
}

.link-in-text:focus {
  outline: none;
}

.link-in-text:focus-visible {
  outline: none;
}

.link-in-text-button {
  display: inline-block;
  line-height: 0;
  text-align: center;
  padding: 0 2px 0 0;
  block-size: 20px;
  text-shadow: 2px 2px 0 var(--theme_intro-outro-shadow-color);
}

.link-in-text-button:hover {
  border-block-end: 1px solid var(--theme_color);
}

.link-in-text-button:focus {
  outline: none;
}

.link-in-text-button:focus-visible {
  outline: none;
  border: 1px solid var(--theme_color);
}


/*HEADER START*/

.header {
  display: grid;
  grid-auto-rows: 1fr auto 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--margin);
}

  /* camera START*/

.header__camera-effect {
  display: flex;
  position: absolute;
  justify-content: space-between;
  justify-self: end;
  align-self: start;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding: 10px;
  block-size: fit-content;
  text-transform: uppercase;
  color: var(--theme_camera-effect-color);
}

.header__camera-effect::before {
  content: "rec";
}

.header__camera-effect::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  margin: var(--margin);
  background-color: var(--theme_camera-effect-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--theme_camera-effect-color);
}

  /* camera END*/
  /* buttons START*/

.header__theme-menu {
  block-size: fit-content;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding: 0 13px;
  block-size: 26px;
  color: var(--theme_decoration-items-color);
  text-align: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--theme_decoration-items-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--theme_button-hover);
}


.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--theme_decoration-items-color);
}

/* buttons END*/

.header .decoration-text {
  justify-self: start;
  text-shadow: 4px 4px 0 var(--theme_intro-outro-shadow-color);
  margin-left: calc(-1*(var(--intro-outro-margin)));
}

.header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  block-size: fit-content;
  inline-size: 50%;  
}



/*HEADER END*/

/*MAIN START*/

.main {
  letter-spacing: 0.1px;
  display: grid;
  gap: var(--main-gap);
}

.section {
  display: grid;
  block-size: fit-content;
  gap: 20px;
  padding: 0 var(--margin);
}

.section.galery-section {
  gap: var(--margin);
}

@media (width >= 768px) {
  .block-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .block-section .main_section-card-list {
    grid-column: span 2;
  }

  .inline-section {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    letter-spacing: 0;
  }

  .inline-section .main_section-card-list {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .inline-section .main_section-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main_section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--theme_decoration-items-color);
  box-sizing: fit-content;
}

.main_section-card-list {
  display: grid;
  gap: 20px;
}

.card-text {
  padding-block-start: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.main_section-card h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.main_section-images-list {
  display: grid; 
  gap: var(--margin);
}

.main_section-images {
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
  object-fit: cover;
  block-size: fit-content;
  text-align: center;
  inline-size: 100%;
}

@media (width >= 768px) {
  .main_section-images-list {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: var(--margin);
  }

  .image {
    block-size: 100%;
  }

  .main_section-images:has(.image.sunset) {
    grid-column: span 2;
  }

  .main_section-images:has(.image.ice-cream) {
    grid-row: span 2;
  }

  .main_section-images:has(.image.tape) {
    grid-row: span 2;
  }

  .main_section-images:has(.image.street) {
    grid-column: span 2;
  }
}


/*MAIN END*/

/*FOOTER START*/

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer .decoration-text {
  text-shadow: 2px 2px 0 var(--theme_intro-outro-shadow-color);
}

/*FOOTER END*/