/*
  Переменные для проекта
  и их переопределение под различные устройства
*/

.page {
  --theme_background-color: #000028;
  --theme_color: #F1B2CE;
  --theme_color-for-intro-outro: #DB00FF;
  --theme_color-for-intro-outro-shadow: #FF0070;
  --theme_color-accents: #FF0070; 
  --theme_color-accents-text: #000028;
  --theme_decoration-items-color: #FF0070;

  --theme_background-image: url("../images/cover-image-dark.png");
  }
