/*
  Переменные для проекта
  и их переопределение под различные устройства
*/

.page {
  
  /*

  --theme_background-color: #000028;
  --theme_color: #F1B2CE;
  --theme_intro-outro-color: #DB00FF;
  --theme_intro-outro-shadow-color: #FF0070;
  --theme_accents-color: #FF0070;
  --theme_accents-text-color: #000028;
  --theme_button-hover: rgba(255, 112, 102, 0.4);
  --theme_decoration-items-color: #FF0070;
  --theme_camera-effect-color: #FF0070;

  --theme_background-image: url("../images/cover-image-dark.png");  

*/

  /*margins/gap*/
  --margin: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  --intro-outro-margin: clamp(0rem, -1.193rem + 5.09vw, 1.25rem);
  --body-gap: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem);
  --main-gap: clamp(3.125rem, 1.336rem + 7.63vw, 5rem);
  --header-padding: ;
  }

  